.container {
    padding-right: 0px;
    padding-left: 0px;
  
}
@media only screen and (max-width: 500px) {
   #addbtn{
    
    position: relative;
    left:-30%;
    
}
}
@media only screen and (max-width:768px) and (min-width: 501px) {
   #addbtn{
    
    position: relative;
    left:-30%;
    
}

#paradescription{
    top: 46% !important;
    left: 15% !important;
}
}
 #addbtn{
    position: relative;
    left: -13%;
   }